body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(223, 255, 241);
}

.common{
    position: absolute;
}

/* positioning the header div */
.head {
    text-decoration: none;
    top: 5px;
    left: 5px;
    right: 5px;
    height: 70px;
}
.head:hover{ text-decoration: underline;}

/* positioning the main body Div */
.main{
    top: 80px;
    bottom: 30px;
    left: 110px;
    right: 5px;
}

/* positioning left menu Div */
.leftmenu{
    left: 5px;
    top: 70px;
    width: 100px;
    bottom: 30px;
}

/* positioning footer div */
.foot{
    bottom: 5px;
    height: 20px;
    left: 5px;
    right: 5px;
    position: fixed;
}

/* coloring for main bullet points */
.bullet{
    color: darkblue;
    font-weight: bold;
}

li{
    font-weight: normal;
    color: black;
}

/* positions items to the right in the div */
.toright{
    float: right;
    padding-right: 50px;
}

h4{
    font-style: italic;
}

/* changes the font of the 'to the top' on page anchor */
.totop{
    font-family: 'Times New Roman', Times, serif
}

/* sets the text style of the footer */
.foottext{
    font-size: small;
    color: lightgrey;
    text-align: center;
}